<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: ADD DATE</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center">Pre-workshop Setup</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td rowspan="4" style="vertical-align:middle"><a href = "https://carpentries-incubator.github.io/fair-bio-practice/">FAIR in (Biological) Practice</a></td>
        <td>Introduction to Open Science</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Being FAIR</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>IP and Opennes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>Introduction to metadata</td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 7   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Between episodes</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: ADD DATE</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="4" style="vertical-align:middle"><a href = "https://carpentries-incubator.github.io/fair-bio-practice/">FAIR in (Biological) Practice</a></td>
        <td>Being precise</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>(Meta)data in Excel</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Laboratory records</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Working with files</td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 6   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Between episodes</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3:ADD DATE</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="3" style="vertical-align:middle"><a href = "https://carpentries-incubator.github.io/fair-bio-practice/">FAIR in (Biological) Practice</a></td>
        <td>Re-usable computing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Version control</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Templates for consistency</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Between episodes</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4:ADD DATE</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="3" style="vertical-align:middle"><a href = "https://carpentries-incubator.github.io/fair-bio-practice/">FAIR in (Biological) Practice</a></td>
        <td>Public repositories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>It's all about planning</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Putting it all together</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td colspan="2" style="text-align:center"><strong>Break</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Between episodes</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
